<h1>CP Memo</h1>

<a href="/memos/add">Create New Memo</a>

<table>
    <tr>
        <th>Problem Name</th>
        <th>Memo</th>
    </tr>
    <% @data.each do |obj| %>
    <tr>
        <th><a href="<%= obj.url %>"><%= obj.name %></a></th>
        <th><%= obj.memo %></th>
    </tr>
    <% end %>
</table>
